<!DOCTYPE html>
<html ng-app='app'>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/styles/vendor.css' />
    <link rel='stylesheet' href='/styles/all.css' />
    <script src='/javascripts/vendor.js'></script>
    <script src='/javascripts/all.js'></script>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-xs-8 col-xs-offset-2">
          
          <h1><%= title %></h1>
          <p>Welcome to <%= title %></p>
          <i class="fa fa-calendar-times-o fa-4x"></i>



        </div>
      </div>
    </div>
  </body>
</html>
