<!DOCTYPE html>
<html ng-app='app'>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/styles/vendor.css' />
    <link rel='stylesheet' href='/styles/all.css' />
    <script src='/javascripts/vendor.js'></script>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <i class="fa fa-calendar-times-o fa-4x"></i>
  </body>
</html>
